<h1> List of Bookmarks</h1>
<form action="/form" >
<input type="submit" value="Add-bookmark">
</form>
<ul>
  <% @list.each do |hash| hash.each do |key, value| %> 
    <li><a href="<%= value %> "><%= key %> </a>
  <% end %>
  <% end %>
</ul>     
