<h1> List of Bookmarks</h1>
<form action="/form" method="get">
<input type="submit" value="Add-bookmark">
</form>
<ul>
  <% @list.each do |bookmark| %> 
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
    <a href="<%= bookmark.url %> " target="_blank"> <%= bookmark.title %> </a>
    <form action ="/bookmarks/<%= bookmark.id%>" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete">
    </form>
      <input type="submit" value="Edit">  
    </li>
  <% end %>
</ul>     
