<h1> List of Bookmarks</h1>
<form action="/form" >
<input type="submit" value="Add-bookmark">
</form>
<ul>
  <% @list.each do |bookmark| %> 
    <li><a href="<%= bookmark.url %> "> 
     <%= bookmark.title %>
    </a>
  <% end %>
</ul>     
