<html>
<body>

<h2>Add new bookmark url and title here</h2>

<form action="/bookmarks/new" method = 'post' >
  <label for="bname">Bookmark url:</label><br>
  <input type="text"  name="bname" ><br>
  <label for="title">Bookmark title:</label><br>
  <input type="text" name="title"><br>
  <input type="submit" value="Submit">
</form> 