<html>
<body>

<h2>Add new book mark here </h2>

<form action="/bookmarks/new" method = 'post' >
  <label for="bname">Bookmark url:</label><br>
  <input type="text" id="bname" name="bname" ><br>
  <input type="submit" value="Submit">
</form> 